:root{
	/*gradients*/
	--light-magenta: hsl(293, 100%, 63%);
	--light-violet: hsl(264, 100%, 61%);
	/*text*/
	--pale-violet: hsl(276, 100%, 81%);/*sub-heading at the top of the app UI*/
	--moderate-violet: hsl(276, 55%, 52%);/*chat on the left*/
	--desaturated-dark-violet: hsl(271, 15%, 43%);/*chat on the right*/
	--grayish-blue:  hsl(206, 6%, 79%);/*placeholder text*/
	--very-dark-desaturated-violet: hsl(271, 36%, 24%);/*main heading)*/
	--dark-grayish-violet: hsl(270, 7%, 64%);/*paragraph)*/
	/* secondary*/
	--light-grayish-violet: hsl(270, 20%, 96%); /*app background*/
	--very-dark-desaturated: hsl(271, 36%, 24%);/*submit button background*/
	--very-light-magenta: hsl(289, 100%, 72%);/*radio button outline*/
	--white: hsl(0, 0%, 100%);
	
}
body{
	font-family: 'Rubik', sans-serif;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: var(--white);
}
#page-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0;
}
#first-bg-curve{
	background: rgb(191,64,255);
	background: linear-gradient(156deg, rgba(191,64,255,1) 0%, rgba(139,74,209,1) 83%);
	width: 30vw;
	height: 93vh;
	border-bottom-left-radius:130px;
	border-bottom-right-radius:250px;
	margin: 0;


}
#cellphone{
	display: flex;
	flex-direction: column;
	position: relative;
	top: 5em;
	width: 250px;
	right: 4em;
	border: 10px solid var(--white);
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.2);

	

}
#cellphone-top-border{
	width: 50%;
	height: 3%;
	background-color: white;
	position: absolute;
	align-self: center;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;

}
#cellphone-top{
	background-image: linear-gradient(to right, var(--light-violet), var(--light-magenta));
	display: flex;
	align-items: center;
	height: 50px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	padding-top:20px ;
	padding-bottom: 10px;
	width: 100%;
}
#avatar{
	width: 30px;
	border-radius: 50%;
	border: 1px solid white;
	margin-right:15px ;
}

#user-name{
	font-size: 12px;
	color: white;
	margin: 0;
	

}
#user-status{
	font-size: 10px;
	margin: 0;
	color: var(--pale-violet);
}
#cellphone-top i{
	color: white;
}
#icon-arrow-top{
	margin-right: 10px;
	margin-left: 5px;
}
#icon-menu-end{
	align-self: flex-end;
}
#cellphone-body{
	background-color: var(--light-grayish-violet);
}
.cellphone-chat{
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
}
#cellphone-chat-right{
	display: flex;
	justify-content: flex-end;
}
#chat-right-text-container{
	display: flex;
	flex-direction: column;
}
.cellphone-message{
	font-size: 9px;
	max-width: 15em;
	padding: 5px;

}
.left{
	color: var(--moderate-violet);
	background-color: #EDE4F5;
	border-radius: 10px;
	
}
.right{
	background-color: white;
	color: var(--desaturated-dark-violet);
	border-radius: 10px;
	margin: 0;
	margin-bottom: 10px;
	margin-right: 10px;
}

#cellphone-chat-pictures{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10px;
	

}
.message-dog-picture{
	width: 40px;
	margin-right: 10px;
	border-radius: 10px;
}
.cellphone-chat-notification{
	display: flex;
	align-items: center;
	background-image: linear-gradient(to right, var(--light-magenta), var(--light-violet));
	max-width: 10em;
	margin-bottom: 10px;
	border-radius: 10px;
	padding: 5px;
	margin-left: 10px;


}
.cellphone-chat-notification i{
	color: var(--pale-violet);
	margin-right: 10px;
}
.message-price-notification{
	font-size: 9px;
	color: var(--pale-violet);
	font-weight: 700;

	



}

.price{
	align-self: flex-end;
	color: white;
	font-size: 10px;
	margin-left: 2em;
}
