:root{
	/*gradients*/
	--light-magenta: hsl(293, 100%, 63%);
	--light-violet: hsl(264, 100%, 61%);
	/*text*/
	--pale-violet: hsl(276, 100%, 81%);/*sub-heading at the top of the app UI*/
	--moderate-violet: hsl(276, 55%, 52%);/*chat on the left*/
	--desaturated-dark-violet: hsl(271, 15%, 43%);/*chat on the right*/
	--grayish-blue:  hsl(206, 6%, 79%);/*placeholder text*/
	--very-dark-desaturated-violet: hsl(271, 36%, 24%);/*main heading)*/
	--dark-grayish-violet: hsl(270, 7%, 64%);/*paragraph)*/
	/* secondary*/
	--light-grayish-violet: hsl(270, 20%, 96%); /*app background*/
	--very-dark-desaturated-violet: hsl(271, 36%, 24%);/*submit button background*/
	--very-light-magenta: hsl(289, 100%, 72%);/*radio button outline*/
	--white: hsl(0, 0%, 100%);
	
}
body{
	font-family: 'Rubik', sans-serif;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: var(--white);
}
#page-container{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	margin: 0;
	position: relative;
	
}
#first-bg-curve{
	background: rgb(191,64,255);
	align-self: initial;
	background: linear-gradient(156deg, rgba(191,64,255,1) 0%, rgba(139,74,209,1) 83%);
	width: 25vw;
	height: 90vh;
	border-bottom-right-radius:250px;
	margin: 0;


}
#cellphone{
	align-self: center;
	display: flex;
	flex-direction: column;
	position: relative;
	top: 3em;
	width: 200px;
	height: auto;
	right: 4em;
	border: 10px solid var(--white);
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.2);

	

}
#cellphone-top-border{
	width: 50%;
	height: 3%;
	background-color: white;
	position: absolute;
	align-self: center;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;

}
#cellphone-top{
	background-image: linear-gradient(to right, var(--light-violet), var(--light-magenta));
	display: flex;
	align-items: center;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	padding-top:20px;
	padding-bottom: 10px;
	width: 100%;
}
#avatar{
	width: 30px;
	border-radius: 50%;
	border: 1px solid white;
	margin-right:15px ;
}

#user-name{
	font-size: 8px;
	color: white;
	margin: 0;
	

}
#user-status{
	font-size: 9px;
	margin: 0;
	color: var(--pale-violet);
	margin-right: 5em;
}
#cellphone-top i{
	color: white;
}
#icon-arrow-top{
	margin-right: 10px;
	margin-left: 5px;
}
#icon-menu-end{
	font-size: 12px;
	
}
#cellphone-body{
	background-color: var(--light-grayish-violet);

}
.cellphone-chat{
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
}
#cellphone-chat-right{
	display: flex;
	justify-content: flex-end;
}
#chat-right-text-container{
	display: flex;
	flex-direction: column;
}
.cellphone-message{
	font-size: 7px;
	max-width: 15em;
	padding: 5px;

}
.left{
	color: var(--moderate-violet);
	background-color: #EDE4F5;
	border-radius: 10px;
	
}
.right{
	background-color: white;
	color: var(--desaturated-dark-violet);
	border-radius: 10px;
	margin: 0;
	margin-bottom: 10px;
	margin-right: 10px;
}

#cellphone-chat-pictures{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10px;
	

}
.message-dog-picture{
	width: 30px;
	margin-right: 10px;
	border-radius: 10px;
}
.cellphone-chat-notification{
	display: flex;
	flex-direction: row;
	align-items: center;
	background-image: linear-gradient(to right, var(--light-magenta), var(--light-violet));
	max-width: 8em;
	margin-bottom: 10px;
	border-radius: 10px;
	padding: 5px;
	padding-right: 0;
	margin-left: 10px;


}
.cellphone-chat-notification i{
	color: var(--pale-violet);
	margin-right: 10px;
}
.message-price-notification{
	font-size: 7px;
	color: var(--pale-violet);
	font-weight: 700;


}

.price{
	color: white;
	font-size: 10px;
	margin-left: 1.5em;

}
#price-2{ /* this element has been separated from the price class to place a larger margin.
				 because your text is smaller than the other */
	font-size: 10px;
	margin-left: 3em;
	color: white;
	margin-bottom: 20px;
}
#cellphone-bottom{
	width: 90%;
	margin-left: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	background-color: white;
	align-self: center;
	padding: 5px;
	margin-bottom: 10px;

}
#cellphone-bottom-text{
	font-size: 7px;
	color: var(--grayish-blue);
	align-self: center;
}
#icon-arrow-bottom{
	background-color: var(--very-dark-desaturated-violet);
	border-radius: 50%;
	color: white;
	padding: 10px;
	font-size: 8px;
	margin-left: 10em;
}
#page-text{
	width: 50%;
	position: relative;
	left: 2em;
	align-self: center;
	z-index: 5;
}
#main-tittle{
	color: var(--very-dark-desaturated-violet);
	
}
#page-text p{
	max-width: 450px;
	color: var(--dark-grayish-violet);

}
#shadow-bg-container{
	position: relative;
	bottom: 0;
	right: 0;
	height: 100%;
}
#shadow-bg-curve{
	background-color: #F9F4FA;
	width: 20vw;
	right: 0;
	height: 80vh;
	border-top-left-radius:250px;
	margin: 0;
	position: fixed;
	bottom: 0;

}
@media screen and (min-width: 1800px){
	#first-bg-curve{
		border-bottom-right-radius:400px;
		border-bottom-left-radius: 0;
	}
	#cellphone-container{
		align-self: center;
	}
	#shadow-bg-curve{
		border-top-left-radius:400px;

	}
	#page-text{
		left: 5em;
	}
}
@media screen and (max-width: 768px){
	#shadow-bg-curve{
		display: none;
	}
	#page-container{
		flex-direction: column;
	}
	#first-bg-curve{
		border-bottom-left-radius:0;
		width: 50vw;
	}
	#cellphone-container{
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	#cellphone{
		top: 3em;
		right: 0;
		width: 200px;
		height: auto;
		
	}
	#page-text{
		margin-top: 100px;
		left: 0;
		width: 100%;
		justify-content: center;
		display: flex;
		flex-direction: column;
		align-items: center;

	}
	#main-tittle{
		text-align: center;

	}
	#page-text p{
		
		text-align: center;
		margin-right: 10px;
		margin-left: 10px;
		max
	}
}